body{
    background-image: url(../image/pattern.jpg);
    margin: 0;
    padding: 0;

}

section{
    background-color: white;
    width: 800px;
    margin-top: 90px;
    margin-left: 140px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

article{
    border-bottom: 1px solid black;
}

section h1{
    text-align: center;
    font-weight: 1000;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: white;
    top: 0;
}

nav{
    margin-left: 620px;
}

nav ul{
    text-decoration: none;
    display: flex;
}

nav ul li{
    text-decoration: none;
    display: flex;
    padding: 10px;
}


footer{
    position: relative;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 3px;
    bottom: 0;
}