*{
    margin: 0;
    padding: 0;
}
#listCard{
    display: flex;
    text-align: -webkit-center;
}

#listCard .card{
    max-width: 400px;
    margin: 10px;
}

#listCard .card img{
    max-width: 400px;
    height: 200px;
}