* {
    margin: 0;
    padding: 0;
    -webkit-text-decoration: 0;
            text-decoration: 0;
    list-style: none;
  }
  
  body {
    font-family: 'sans-serif';
    background:rgb(82, 94, 87);
  }
/* TOPBAR */
header{
    z-index: 5;
}
.main-topbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.topbar{
    display: block;

}

.sup-topbar{
    min-height: 50px;
    margin-top: 150px;
    margin-bottom: 30px;
    background-color: rgb(175, 196, 183);
    text-align: -webkit-center;
    padding: 5px;
    border-radius: 5px;
}
.sup-topbar a{
    color: black;
}

.sup-topbar nav{
    width: 50%;
    padding-top: 5px;
}   

/* content */
#content{
    width: 100%;
}

.item{
    height: 700px;
    padding: 20px 10px 10px 10px;
    background-color: rgb(152, 158, 154);
}

.jumbotron{
    background-image: url(image/pattern.jpg);
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
}

.carousel{
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
}

.tengah{
    background-color: rgb(152, 158, 154);
    padding: 5px 10px 10px 10px;
}

.isi{
    display: flex;
    text-align: -webkit-center;
}

.isi .card{
    width: 200px;
    height: 260px;
}

.isi .card img{
    width: 200px;
    height: 180px;
}

.feature{
    height: 400px;
    background-color: rgb(152, 158, 154);
    padding: 20px 10px 10px 10px;
}

.external{
    margin-top: 20px;
    height: 280px;
    background-color: rgb(152, 158, 154);
    padding: 20px 10px 10px 10px;
}
